git+https://github.com/nzjrs/pyglet.git@fix-wmf-shutdown-crash#egg=pyglet
PsychoPy==2020.1.2
PyDAQmx==1.4.3
ConfigArgParse==1.2
h5py==2.10.0
pytest==5.4.1
pytest-cov==2.8.1
Phidget22==1.6.20200921
semaphore-win-ctypes==0.1.2